* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid darkslategray; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin-left: 1.5em; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  p {

    margin-left: 3em;
    width: 66%;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: darkslategray; }
  }

  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #D2B48C;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    background-color: #f5f5f5;
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
  }